@media (max-width: 1200px)
  .container
    max-width: 980px
  .navbar
    &-logo
      margin-left: 0
@media (max-width: 992px)
  .container
    max-width: 720px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    padding-top: 18px
    padding-bottom: 20px
    &-button
      display: flex
      &__mobile
        display: flex
        margin-right: 7px
    &-menu
      display: none
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      height: 17px
      width: 22px
      padding: 0
      border: none
      background-color: transparent
      cursor: pointer
      &__line
        width: 22px
        height: 2px
        background-color: $dark
        border-radius: 10px
      &__item
        margin-bottom: 39px
        margin-left: 0
        display: flex

@media (max-width: 576px)
  .container
    width: 89%
@media (max-width: 410px)

@media (max-width: 320px)
