*
  box-sizing: border-box
img
  margin: 0
  max-width: 100%
li
  list-style-type: none
body
  font-family: 'Open Sans', sans-serif
.container
  max-width: 1140px
  margin: auto
.button
  font-family: 'Open Sans', sans-serif
  cursor: pointer
h1, h2, h3, h4, p
  margin: 0
button, input, a
  outline: none
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
